<div class="main-header">
  <div class="form-input">
     <input class="form-search" type="search" name="search" placeholder="キーワードを入力">
  </div>
</div>

<div class="main-form">
  <div class="sentence">
    <div class="english">
      <div class="english-text">
        Thank you so much
      </div>
    </div>
    <div class="japanese">
      <div class="japanese-text">
        本当にありがとうねああああああああああああああ
      </div>
    </div>
  </div>

  <div class="sentence">
    <div class="english">
      <div class="english-text">
        I am looking forward to it
      </div>
    </div>
    <div class="japanese">
      <div class="japanese-text">
        楽しみにしてます
      </div>
    </div>
  </div>
</div>

<div class="footer">
</div>